In [1]:
import pandas as pd
import numpy as np

# Creating a DataFrame with data for the fruit vendor
data = {
    "Fruit": ["Apple", "Banana", "Cherry", "Date", "Grapes"],
    "Quantity": [20, 30, 15, 10, 25], 
    "Original_Price": [3, 2, 4, 5, 2.5],
    "Supplier": ["Supplier1", "Supplier2", "Supplier1", "Supplier2", "Supplier1"]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)
def get_new_price(name):
    if(name == "Banana"):
        return 1.2
    if(name == "Apple"):
        return 2
    if(name == "Grapes"):
        return 2.5
    
df['Updated_price'] = df['Fruit'].map(get_new_price)
df

    Fruit  Quantity  Original_Price   Supplier
0   Apple        20             3.0  Supplier1
1  Banana        30             2.0  Supplier2
2  Cherry        15             4.0  Supplier1
3    Date        10             5.0  Supplier2
4  Grapes        25             2.5  Supplier1

    Fruit  Quantity  Original_Price   Supplier  Updated_price
0   Apple        20             3.0  Supplier1            2.0
1  Banana        30             2.0  Supplier2            1.2
2  Cherry        15             4.0  Supplier1            NaN
3    Date        10             5.0  Supplier2            NaN
4  Grapes        25             2.5  Supplier1            2.5